@font-face {
    font-family: 'Perpetua Titling MT';
    src: url('../fonts/PerpetuaTitlingMT-Light.woff') format('woff'),
    url('../fonts/PerpetuaTitlingMT-Light.svg#PerpetuaTitlingMT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-lightcond-webfont.woff') format('woff'),
    url('../fonts/helveticaneue-lightcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Lobster1.4";
    src: url("../fonts/Lobster_1_4.woff") format("woff"),
    url("../fonts/Lobster_1_4.svg#Lobster1.4") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'helvetica_ceregular';
    src: url('../fonts/hv-webfont.woff') format('woff'),
    url('../fonts/hv-webfont.svg#helvetica_ceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Light.woff') format('woff'),
    url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


